.c-blue {
    color: #0C1BEB;
}

.bg-blue {
    background-color: #0C1BEB;
}

.bg-gray {
    background-color: #c4c4c4;
}

.pr-2 {
    padding-right: 8px;
}

.bottom-2 {
    bottom: 2% !important
}

.end-2 {
    right: 2% !important
}

.bottom-3 {
    bottom: 3% !important
}

.end-3 {
    right: 3% !important
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

body {
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}


/* @media(min-width:426px) {
    body {
        width: 50vw;
        margin: auto;
        overflow-x: hidden;
    }
} */